<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Port de Russell - Tableau de bord</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <header class="bg-dark text-light mb-4 py-4">
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
          <h1 class="navbar-brand mb-0">Port de plaisance de Russell</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/catways">Catways</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reservations">Réservations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Utilisateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/doc">Doc API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container text-end">
        <p class="mb-0">Utilisateur : <strong><%= user.username %></strong></p>
        <p class="mb-0">Email : <%= user.email %></p>
        <p class="mb-0">Date : <%= date %></p>
      </div>
    </header>
    <main class="container">
      <h1 class="mb-4">Tableau de bord</h1>

      <% if (reservations.length === 0) { %>
          <p class="text-danger">Aucune réservation actuellement.</p>
        <% } else { %>
    
          <table class="table caption-top">
            <caption>Liste des réservations de Catway en cours</caption>
            <thead class="table-dark">
              <tr>
                <th>Catway</th>
                <th>Bateau</th>
                <th>Client</th>
                <th>Arrivée</th>
                <th>Départ</th>
              </tr>
            </thead>
            <tbody>
              <% reservations.forEach(reservation => { %>
                <tr>
                  <td><%= reservation.catwayNumber %></td>
                  <td><%= reservation.boatName %></td>
                  <td><%= reservation.clientName %></td>
                  <td><%= reservation.startDate.toLocaleDateString("en-FR") %></td>
                  <td><%= reservation.endDate.toLocaleDateString("en-FR") %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    
        <% } %>
    </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>